<div class="{{ moduleClasses }} {{ classes }} {{ initialValueStateClass }}" role="search" data-bfsearchsuggest="{{ searchSuggestion }}" data-entity="{{ moduleClass }}"
        {% if autocompleteType %}data-autocomplete="{{ autocompleteType }}"{% endif %}
        {% if autocompleteUrl %}data-autocompleteurl="{{ autocompleteUrl }}"{% endif %}
        {% if autocompleteSelector %}data-autocompleteselector="{{ autocompleteSelector }}"{% endif %}
        {% if autocompleteSource %}data-autocompletesource="{{ autocompleteSource }}"{% endif %} >
